<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>


 <!-- SEÇÃO criador -->
  <section class="secao-criador">

    <!-- ESQUERDA -->
    <div class="info">
      <img src="imgs/criador.jpeg" alt="criador">

      <p>
        Shigeru Miyamoto, designer e produtor japonês da Nintendo,
        é o criador de Mario. Lançado em 1981, o personagem surgiu
        inicialmente como "Jumpman" no jogo Donkey Kong.
        Miyamoto também criou outras séries icônicas como
        The Legend of Zelda, Donkey Kong e Pikmin,
        revolucionando o desenvolvimento de jogos.
      </p>
    </div>

    <!-- DIREITA -->
    <div class="jogos">
      <img src="imgs/jogos.jpeg" alt="Jogos Nintendo">
    </div>

  </section>








<%- include ('partials/footer.ejs') %>