<%- include ('partials/header.ejs') %>
 <%- include ('partials/navbar.ejs') %>


    <!-- Personagens -->
    <div class="personagens">
      <img src="imgs/nitendo.jpeg" alt="personagens">
    </div>
               
    <p>
      Fundada em 1889 como uma fabricante de cartas hanafuda no Japão, a Nintendo evoluiu
      de uma empresa tradicional para uma gigante mundial dos videogames. Após tentar ramos
      como brinquedos e motéis, encontrou sucesso nos arcades (Donkey Kong) e lançou consoles
      icônicos como o NES, Game Boy, SNES, Wii e o popular Nintendo Switch. 
    </p>
 

<%- include ('partials/footer.ejs') %>