<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<!-- BANNER -->
  <section class="banner">
    <img src="imgs/mario.jpeg" alt="Mario">
  </section>

  <!-- CARD AZUL -->
  <section class="card-miyamoto">

    <div class="img-miyamoto">
      <img src="imgs/miyamoto.jpeg" alt="Shigeru Miyamoto">
    </div>

    <div class="texto-miyamoto">
      <p>
        <strong>Shigeru Miyamoto</strong>, designer e produtor japonês da Nintendo,
        é o criador de Mario. Lançado em 1981, o personagem surgiu inicialmente como
        "Jumpman" no jogo Donkey Kong. Miyamoto também criou outras séries icônicas
        como The Legend of Zelda, Donkey Kong e Pikmin, revolucionando o desenvolvimento
        de jogos
      </p>
    </div>

  </section>










<%- include ('partials/footer.ejs') %>