<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>


<section class="perfil-card">

  <div class="perfil-img">
    <img src="imgs/perfil.jpeg" alt="Foto de perfil">
  </div>

  <div class="perfil-info">
    <h2>Jhenyfer</h2>
    <p><strong>Email:</strong><br> fjhenyfer40@gmail.com</p>
  </div>

</section>


<%- include ('partials/footer.ejs') %>